{% extends "base.html" %}
{% load staticfiles %}
    {% block description %}Teste{% endblock description %}
    {% block title %}Clean serviços{% endblock title %}
    {% block main %}
        <section id="home">
            <div class="row">
                <h3>Quem somos</h3>
            </div>
            <div class="col-1-2">
                <div class="container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet nisi ultrices, lobortis odio sed, condimentum risus.</p>

                    <p>Proin rutrum mattis mauris, nec dapibus ipsum tempor vitae. Nunc molestie non tellus sodales tempus.</p>
                </div>
            </div>
        </section>
    {% endblock main %}
